<header class="header">
  <a routerLink="/">
    <img src="../../assets/images/logo-flower.png" alt="Interview Media Logo" class="logo">
  </a>
  <form action="#" class="search">
    <input type="text" class="search__input" placeholder="Search" />
    <button class="search__button">
      <svg class="search__icon">
        <use xlink:href="img/sprite.svg#icon-magnifying-glass"></use>
      </svg>
    </button>
  </form>
  <nav class="user-nav">
    <ul class="nav">
      <li class="nav__item">
        <a routerLink="/post-question" class="nav__link">
          Ask a Question
        </a>
      </li>
      <li class="nav__item">
        <a routerLink="/login" class="nav__link">
          Login
        </a>
      </li>
    </ul>
  </nav>
</header>
