<footer class="swpd__footer">
  <div class="swpd__footer__box-1">
    <img src="../../assets/images/logo-flower.png" alt="Logo" class="swpd__footer__logo" />
  </div>
  <div class="swpd__footer__box-2">
    <nav class="swpd__footer__nav">
      <ul class="swpd__footer__nav__ul">
        <li class="swpd__footer__nav__item">
          <a class="swpd__footer__nav__link">Home</a>
        </li>
        <li class="swpd__footer__nav__item">
          <a class="swpd__footer__nav__link">Contact</a>
        </li>
        <li class="swpd__footer__nav__item">
          <a class="swpd__footer__nav__link">FAQ</a>
        </li>
        <li class="swpd__footer__nav__item">
          <a class="swpd__footer__nav__link">Features</a>
        </li>
        <li class="swpd__footer__nav__item">
          <a class="swpd__footer__nav__link">Pricing</a>
        </li>
        <li class="swpd__footer__nav__item">
          <a class="swpd__footer__nav__link">Career</a>
        </li>
        <li class="swpd__footer__nav__item">
          <a class="swpd__footer__nav__link">Blog</a>
        </li>
        <li class="swpd__footer__nav__item">
          <a class="swpd__footer__nav__link">About</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="swpd__footer__box-3">
    <div class="legal">
      &copy; 2018 by Santhosh Kumar Muddamsetty. All rights reserved.
    </div>
  </div>
</footer>
